<div *ngIf="validar_lenguage()=='spanish'">
    <h1>Bienvenidos a CORDOBA PADEL TOUR</h1>
    <p class="mt-5">Seguramente a los amantes del pádel os llame la atención el nombre de nuestro proyecto, porque tiene cierto parecido con uno de los circuitos de pádel más míticos de la historia: WORLD PADEL TOUR, que desapareció este reciente año debido año debido a la compra por parte de Premier Pádel, otro circuito creado por Al Khelaifi, que todos seguro que conocemos por ser el presidente del Paris Saint Germain, equipo de fútbol de la liga francesa.</p>
    <p>
    Este proyecto nació debido a que un grupo de amigos que siempre jugábamos los viernes ya nos estábamos aburriendo. Siempre eran los mismos partidos y al final eso cansa. De hecho, varios de los integrantes del grupo dejaron de asistir. Por lo que se nos ocurrió la idea de hacer una especie de competición con puntos individuales (como ocurre en las federaciones reales de pádel) para darle esa emoción a los partidos, pero siempre tratando de mantener el buen rollo que tenemos, ya que no podemos olvidar que ante todo, somos amigos que solo queremos pasar un buen rato.
    </p>
    <h3>FUNCIONAMIENTO DE LA APP</h3>
    <p>Vea el siguiente vídeo que te ayudará a ver cómo funciona nuestra aplicación.</p>
</div>
<div *ngIf="validar_lenguage()=='english'">
    <h1>WELCOME CORDOBA PADEL TOUR</h1>
    <p class="mt-5">Surely padel lovers will be struck by the name of our project, because it has a certain resemblance to one of the most legendary padel circuits in history: WORLD PADEL TOUR, which disappeared this recent year due to the purchase by of Premier Pádel, another circuit created by Al Khelaifi, who we all surely know for being the president of Paris Saint Germain, a French league soccer team.</p>
    <p>
        This project was born because a group of friends who always played on Fridays were getting bored. It was always the same games and in the end that gets tiring. In fact, several of the group members stopped attending. So we came up with the idea of ​​doing a kind of competition with individual points (as happens in real padel federations) to give that excitement to the matches, but always trying to maintain the good vibes we have, since we cannot forget that above all, we are friends who just want to have a good time.
    </p>
    <h3>How the app works</h3>
    <p>Watch the following video to help you see how our app works.</p>
</div>