<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Comfortaa:wght@300..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<div id="inicio"class="d-none d-md-block">
    <div id="titulo-box" class="d-none d-md-block">
        
    </div>
</div>

<h1 id="titulo" class="d-block d-md-none mt-2 text-center">{{titulo}} <hr></h1>



<div id="contenido_espanol" class="mt-4 text-center">
    <p id="texto_bienvenida">Bienvenidos</p>
    <p id="descripcion">A la mejor liga de pádel de Córdoba</p>
    <div id="zona_directivo">
        <h3 id="directivos" class="mt-4">DIRECTORES</h3>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 organizadores mt-3">
            <h2>Pedro Fantasía</h2>
            <div class="imagen-con-hover">
                <img src="../../../assets/camisetas/pfantasia.png" id="imagenPortada" class="imagen-responsive">
                <div class="texto-hover">Pedro Fantasía, CEO y jugador del CORDOBA PADEL TOUR.</div>
            </div>
        </div>
        <div class="col-md-6 organizadores mt-3">
            <h2>Iván Jiménez</h2>
            <div class="imagen-con-hover">
                <img src="../../../assets/camisetas/ijimenez.png" id="imagenPortada" class="imagen-responsive">
                <div class="texto-hover">Iván Jiménez, desarrollador de esta aplicación y jugador del CORDOBA PADEL TOUR.</div>
            </div>
        </div>
    </div>
</div>

<div id="contenido_english" class="mt-4 text-center">
    <p id="texto_bienvenida">WELCOME</p>
    <p id="descripcion">To the best padel league in Cordoba</p>
    <div id="zona_directivo">
        <h3 id="directivos" class="mt-4">DIRECTORS</h3>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 organizadores mt-3">
            <h2>Pedro Fantasía</h2>
            <div class="imagen-con-hover">
                <img src="../../../assets/camisetas/pfantasia.png" id="imagenPortada" class="imagen-responsive" alt="Descripción de la imagen">
                <div class="texto-hover">Pedro Fantasía, CEO and player of the CORDOBA PADEL TOUR</div>
            </div>
        </div>
        <div class="col-md-6 organizadores mt-3">
            <h2>Iván Jiménez</h2>
            <div class="imagen-con-hover">
                <img src="../../../assets/camisetas/ijimenez.png" id="imagenPortada" class="imagen-responsive" alt="Descripción de la imagen">
                <div class="texto-hover">Iván Jiménez, developer of this application and player of the CORDOBA PADEL TOUR</div>
            </div>
        </div>
    </div>
</div>